* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(160deg, #2E0916, #55465E);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left, .right {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ghost {
  width: 80%;
  height: 80%;
}