@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root{
  --light-yellow: rgb(221,208,89); 
  --light-brown: #4c1f0c ;
  --medium-brown: #2f1a11 ;
  --dark-brown: #19110e ;
  --wheat: #9f8975; 
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  color: var(--light-yellow);
  font-family: 'Cormorant Garamond', serif;
}