.homepage {
  padding-bottom: 0;
}
.grid {
  border: 2px solid purple;
  height: 100%;
  display: grid;
  grid-template-columns: fit-content(5vw) fit-content(50vw) auto; // Width of social media icons, main content & the navigation part

  .grid__column {
    border: 2px solid slateblue;
    display: flex;
    align-items: center;
  }
}
