// variables to control the height and width of hero image and hero oval.
$hero-height: 27em;
$hero-width: 20em;
.homepage {
  padding-bottom: 0;
}

.grid {
  border: 2px solid purple;
  height: 100%;
  display: grid;
  grid-template-columns: fit-content(5vw) 1fr fit-content(5vw); // Width of social media icons, main content & the navigation part

  .grid__column {
    border: 2px solid slateblue;
    display: flex;
    align-items: center;
  }

  .hero__column {
    display: flex;
    justify-content: center;
  }
}

.hero {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .hero__oval {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;

    .oval__outer {
      width: 297px;
      // width: calc(10.35 * $hero-width); //  20 em
      // height: 598px;
      height: 39em;
      border: 5px solid var(--orange-opaque);
      border-radius: 50em;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      box-shadow: 0 100px 85px inset rgba($color: #151515, $alpha: 0.8);
      overflow-x: visible;

      .oval__inner {
        border: 3px solid var(--orange-50);
        height: 92%;
        width: 88%;
        border-radius: 20em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow-x: visible;
        padding: 0 0 3em 0;

        .oval__text {
          font-weight: 700;
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          align-items: center;
          .text__main {
            font-size: 6.4rem;
            line-height: 5rem;
          }

          .text__sub {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .hero__image {
    object-fit: cover;
    // height: 250px;
    width: 400px;
    width: $hero-height;
    border-radius: 10px;
  }
}
